.page {
    padding: 0 2rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  .start {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .tart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .map {
    flex: 1;
    display: flex;
  }
  
  .profilePic {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1rem;
  }
  
  .journeyTitle {
    font-size: 2rem;
    margin-right: 1rem;
  }
  
  .wheelers {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .wheelers button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .wheelers img {
    width: 80px;
    height: auto;
    margin: 0 10px;
  }
  
  .wheelers button:hover img {
    transform: scale(1.1);
  }
  
  .inputContainer {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .inputField {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .inputField:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  